.popup__img-edit_button{
    width: 22.375rem;
    height: 3.1344rem;
    margin: auto;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}
.popup__img-edit_button:hover{
    opacity: 0.5;
}
@media screen and (min-width:320px)and (max-width:768px) {
    .popup__img-edit_button{
        width: 14.875rem;
        height: 2.875rem;
    }   
}