.icon-like_number{
    border: none;
    background-color: inherit;
    cursor: pointer;
    width: 21px;
    height: 19px;
    position: absolute;
    right: 15px;
    left: 247px;
    top: 38px;
    bottom: 30px;
    transition: 0.3s ease all;
    object-fit: cover;
}
@media screen and (min-width:320px)and (max-width:768px) {
    .icon-like_number{
        top: 50px;
    }   
}