.element__footer-photo{
    display: flex;
    position: relative;
    justify-content: flex-end;
    background-color: white;
    border-radius: 0 0 20px 20px;
}
@media screen and (min-width:320px)and (max-width:768px) {
    .element__footer-photo{
        min-height: 4.9375rem;
    }   
}