.profile__ocupation{ 
    max-width: 25.9375rem;
    max-height: 1.375rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    font-style: normal;
    font-weight: 25rem;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
@media screen and (min-width:320px)and (max-width:768px) {
    .profile__ocupation{
        width: 17.625rem;
        height: .875rem;
        font-family: "inter";
        font-size: .875rem;
        line-height: 1.0625rem;
        text-align: center;
        
    }   
}