.header__menu {
    transition: opacity 0.3s ease;
    cursor: pointer;
    display: none;
}
.header__menu:hover {
    opacity: 0.8;
}

@media screen and (min-width:320px)and (max-width:768px) {
    .header__menu {
        display: block;
    }
}