.form__title {
    width: 350px;
    height: 29px;
    color: white;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.21;
    margin-bottom: 25px;
}
@media screen and (min-width:320px)and (max-width:768px) {
    .form__title {
        font-size: 20px;
        margin-bottom: 30px;
    }
}