.header__sign-out {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    color: #a9a9a9;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.header__sign-out:hover {
    opacity: 0.6;
}
@media screen and (min-width:321px)and (max-width:768px) {
    .header__sign-out{
    }   
}

@media screen and (max-width: 320px) {
    .header__sign-out {
        /*margin-top: 60px;*/
    }
}