.footer__content-text{
    max-width: 19.875rem;
    max-height: 1.125rem;
    margin-top: 4.25rem;
    margin-bottom: 3.75rem;
    color:#545454;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
@media screen and (min-width:320px)and (max-width:768px) {
    .footer__content-text{
        width: 17.625rem;
        height: .875rem;
        font-size: .875rem;
        line-height: 1.0625rem;
        margin-top: 3.125rem;
        margin-bottom: 2.25rem;
        margin: 3.125rem auto 2.25rem;
    }   
}