.profile__image-overlay {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 120px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.3 ease all;
}

.profile__image-overlay:hover {
    opacity: 1;
}

@media screen and (min-width:320px)and (max-width:768px) {
    .profile__image-overlay{
        margin: 10px 70px 30px;

    }   
}