.header{
    margin: 2.8125rem auto 2.5rem;
    width: 55rem;
    height: 4.625rem;
    border-bottom: .0625rem  #545454 solid;
}
@media screen and (min-width:320px)and (max-width:768px) {
    .header{
        width: 20rem;
        height:3.5rem;
        margin: 1.75rem 0 2.375rem;
    }   
}