.modal__popup-img-close {
    position: absolute;
    z-index: 5;
    top: 60px;
    left: 1090px;
}
.modal__popup-img-close:hover {
    opacity: 0.4;
    transition: opacity 0.5s linear;
    cursor: pointer;
}


@media screen and (min-width:320px)and (max-width:768px) {
    .modal__popup-img-close{
        left: 80%;
        right: -1.63%;
        top: 70px;
    }   
}